<div id="content" class="container">
  <div id="headerImage"  class="row">
  
  </div>

  <div class="row">
    <div class="col-3">

      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">All Products</h5>
          <p class="card-text">Take a look at everything we have in stock</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <p>test</p>
    </div>

    <div class="col-3">
      <p>test</p>
    </div>

  </div>
  <div class="row">

  </div>

  </div>
