<div class="justify-content-lg-center">
  <div id="headerImage"  class="row">

  </div>
  <div class="row">

  </div>

  <div class="row">
    <div class="col align-self-start">
      <div class="row">
        <a href="/products">
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">All Products</h5>
              <hr>
              <p class="card-text">See what we've got</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col align-self-center">
      <div class="row">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">

            <div class="card-body">
            <h5 class="card-title">Newest Products</h5>
            <hr>
            <p class="card-text">Fresh in!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col align-self-end">
      <div class="row">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Made in the USA</h5>
            <hr>
            <p class="card-text">Likely from prison labor :(</p>
          </div>
        </div>
      </div>
    </div>

    <div class="">

    </div>
  </div>
  <div id="search" class="row">
    <div class="col-9">

    <%= form_tag("/search", method: "get") do %>
      <div class="input-group mb-3">
        <input placeholder="Search Title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-danger" name="button">Search</button>
        </div>
      </div>
    <% end %>
    </div>
  </div>

</div>
